* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body header, body footer {
    /* flex: 0 0 100px; */
    flex-grow: 0;
}

body main {
    flex-grow: 1;
    background-color: #ccc;
}

main > section {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

.issue {
    padding: 20px 10px;
}

.issue:nth-child(odd) {
    background-color: #eee;
}

.issue-title .badge, .issue-title a {
    flex: 0 0 30px;
}

.issue-title a .las {
    font-size: 2em;
    color: #000;
}

.issue-title h5 {
    flex-grow: 1;
}

.navbar-toggler {
    outline-width: 0 !important;
    border: none;
}