* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body header, body footer {
    /* flex: 0 0 100px; */
    flex-grow: 0;
}

body main {
    flex-grow: 1;
    background-color: #ccc;
}

main > section {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}